.ModalBack {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 150px;
  right: 50px;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  box-shadow: -3px 3px 1px var(--secondary-color), 3px -3px 1px var(--secondary-color);
  cursor: pointer;
}

.ModalBack:hover {
  animation: ModalBack 0.4s linear;
  outline: none;
}
@keyframes ModalBack {
  from {
    box-shadow: -5px 5px 1px var(--secondary-color), 5px -5px 1px var(--secondary-color);
  }
  to {
    box-shadow: 5px -5px 1px var(--secondary-color), -5px 5px 1px var(--secondary-color);
  }
}
