.home {
  // height: calc(100vh - 60px);
}
.home_main {
  height: calc(100vh - 60px);
  margin: 0;
  display: flex;
  justify-content: center;
}
.home_type {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.home_img {
  background-image: var(--img-color);

  img {
    display: block;
    width: 100%;
    height: calc(100% - 60px);
  }
}

@media (max-width: 425px) {
  .home_main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .home_type {
    width: 80%;
  }
  .home_img {
    width: 100%;
    height: 80%;
  }
}
