.typewritter {
  display: flex;
  font-size: 30px;
  height: 40px;
  align-items: center;
}

.dynamicType {
  margin-left: 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.dynamicType::after {
  content: "|";
  box-sizing: border-box;
  padding: 2px;
  animation: dynamicType 1s infinite;
}

@keyframes dynamicType {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
