.header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--primary-color);
  z-index: 4;
}
.hidden {
  display: none;
}
.header_button {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-evenly;
  z-index: 2;
  svg {
    cursor: pointer;
    height: 30px;
    width: 30px;
    stroke: var(--secondary-color);
    position: relative;
  }
}
.header_button_music {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.soundOff {
  &::after {
    content: "";
    width: 30px;
    transform: rotate(45deg);
    position: absolute;
    top: 29px;
    display: block;
    height: 2px;
    background-color: var(--secondary-color);
    animation: sound 0.15s ease-in;
  }
}
@keyframes sound {
  from {
    width: 0;
    top: 15px;
  }
  to {
    width: 30px;
    top: 29px;
  }
}
.header_button_img {
  width: 26px;
  height: 26px;
  filter: var(--filter-color);
}
.header_button_music:hover {
  opacity: 0.7;
}
.header_button_music:active {
  opacity: 1;
}

.header_nav {
  width: 20%;
  ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    li {
      cursor: pointer;
    }
  }
  ul li a {
    position: relative;
    transition: 0.5s;
  }
  ul li a::before {
    content: "";
    position: absolute;
    top: -40%;
    left: 0;
    width: 100%;
    height: 30px;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    transform: scaleY(2);
    opacity: 0;
    transition: 0.5s;
  }

  ul li a:hover::before {
    transform: scaleY(1);
    opacity: 1;
  }
}

.active_link {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: default;
}

@media (min-width: 1024px) and (max-width: 1224px) {
  .header_nav {
    width: 30%;
  }
}

@media (max-width: 1023px) {
  .header_nav {
    width: auto;
    .header_ul {
      display: none;
    }
  }
}
@media (max-width: 1023px) {
  .header_button {
    width: 40%;
    justify-content: space-evenly;
  }
}
