.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--text-color);
  animation: shift-rightwards 1s ease-in-out infinite;
  animation-delay: 0.3s;
}

.contact-page {
  overflow: hidden;
  width: 100%;
  flex: 1 1;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
}

.contact-form {
  width: 50%;
  background-color: var(--card-color);

  p,
  header,
  section {
    width: 80%;
    margin: 0 auto;
  }

  .form {
    text-align: center;
    padding-top: 40px;
    display: block;
    position: relative;
    ul > li {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
    }
    textarea {
      color: #8d8d8d;
      padding: 20px;
      min-height: 150px;
      max-height: 300px;
    }
  }
}
.form_button {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  box-shadow: -3px 3px 1px var(--secondary-color), 3px -3px 1px var(--secondary-color);
  cursor: pointer;
}

.form_button:hover {
  animation: but 0.4s linear;
  outline: none;
}

@keyframes but {
  from {
    box-shadow: -5px 5px 1px var(--secondary-color), 5px -5px 1px var(--secondary-color);
  }
  to {
    box-shadow: 5px -5px 1px var(--secondary-color), -5px 5px 1px var(--secondary-color);
  }
}

input,
textarea {
  max-width: 100%;

  border: 0;
  background: var(--card-color-2);
  height: 50px;
  font-size: 16px;
  color: #8d8d8d;
  outline: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form_line {
  height: 2px;
}

.contact-form {
  input:focus {
    color: var(--secondary-color);
  }
  input:focus + .form_line {
    bottom: 0;
    height: 2px;
    background-color: var(--secondary-color);
    animation: pulse 0.5s ease;
  }

  textarea:focus {
    color: var(--secondary-color);
  }

  textarea:focus + .form_line {
    bottom: 0;
    height: 2px;
    background-color: var(--secondary-color);
    animation: pulse 0.5s ease;
  }
}

@keyframes pulse {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.map {
  width: 50%;
  height: 100%;
  z-index: 1;
}
.leaflet-bottom {
  display: none;
}
.leaflet-top {
  display: none;
}

@media (max-width: 900px) {
  .contact-page {
    flex-direction: column;
    height: auto;
  }

  .contact-form {
    width: 100%;
  }

  .map {
    // margin-top: 50px;
    width: 100%;
    height: 500px;
  }
}
