.ScrollTop {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 10px;
  cursor: pointer;
}

.arrow {
  width: 16px;
  height: 15px;
  border-top: 2px solid #ffffff !important;
  border-right: 2px solid #ffffff !important;
  transition: 1s;
  transform: translateY(0px) rotate(-45deg);
}
.arrow:nth-child(1) {
  right: -0.5px;
}
.arrow:nth-child(2) {
  right: -1px;
}

.arrow::after {
  content: ".";
  opacity: 1;
  color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(3px);
  width: 5px;
  height: 5px;
}

.ScrollTop:hover {
  .arrow {
    animation: qwe 0.7s infinite linear;
  }
}

@keyframes qwe {
  0% {
    opacity: 0;
    transform: translateY(10px) rotate(-45deg);
  }

  50% {
    opacity: 1;
    transform: translateY(0px) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px) rotate(-45deg);
  }
}
