.modalDiv {
  text-align: center;
}

.modal {
  img {
    width: 100%;
  }
}

.text {
  background-color: var(--card-color);
  color: var(--secondary-color);
  p {
    padding: 35px;
    margin: 0;
  }
}

.sidebar_user_name {
  margin: 20px 0;
  color: white;
  letter-spacing: 0.3em;
  font-size: 24px;
  padding: 30px;
}
.sidebar_user {
  text-align: center;
}

.not_project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
