.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  &_square {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    background: var(--secondary-color);
    box-sizing: border-box;
    animation: flipX 1s linear infinite;
    color: var(--text-color);
  }
}

@keyframes flipX {
  0% {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}
